*{
    margin: 0;
    padding: 0;
}
.header {
    border: 2px solid yellowgreen;
}
.left-aside {
    border: 2px solid black;
}
.right-aside{
    border: 2px solid black;
}
.main-content {
    border: 2px dotted red;
}
.matrix {
    width: 60vw;
    height: 60vh;
    border: 2px dashed green;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
}
.cell {
    /* height: 40%; */
    /* width: 40%; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
    background-color: gray;
}