*{
    margin: 0;
    padding: 0;
}
.header {
    border: 2px solid yellowgreen;
}
.body {
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: #fdebd0;
}
.left-aside {
    width: 20%;
    background-color: #f0ebea;
}
.right-aside{
    width: 20%;
    background-color: #d6eaf8;
}
.main-content {
    height: 45vh;
    width: 40%;
    padding-bottom: 55px;
}
.matrix {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
    background-color: gray;
}
.input-bar{
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid orangered;
    text-align: center;
    box-sizing: border-box;
}
input {
    border: none;
    background-color: #a9cce3;
   margin: 0;
   width: 100%;
   box-sizing: border-box;
}

hr {
    margin: 20px;
}

.input-container {
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    padding: 0;
    margin: 0;
}

.input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    outline: none;
}

/* SCRAPS */
/* .btns {
    width: 50%;
    margin: auto;
    background-color: pink;
}
.radio-btns {
    display: flex; 
    flex-direction: column;
    border: 2px dotted blue;
}
.radio-btn-1,.radio-btn-2, .radio-btn-3, .radio-btn-4 {
    border: 1px solid yellow;
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 5px;
}

button {
    border: 1px solid green;
    padding: 5px;
    text-align: center;
}
.btn-container {
    display: flex;
    justify-content: center;
}

.test {
    height: 50px;
    width: 50%;
    margin: auto;
    background-color: #d4efdf;
} */