*{
    margin: 0;
    padding: 0;
}
.header {
    border: 2px solid yellowgreen;
}
.left-aside {
    border: 2px solid black;
}
.right-aside{
    border: 2px solid black;
}
.main-content {
    border: 2px dotted red;
}
.matrix {
    width: 60vw;
    height: 60vh;
    border: 2px dashed green;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
}
.cell {
    /* height: 40%; */
    /* width: 40%; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
    background-color: gray;
}
.input-bar{
    margin: 5px;
    padding: 5px;
    border: 2px solid orangered;
    text-align: center;
}
input {
   width: 50%;
}
.radio-btns {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    border: 2px dotted blue;
}
.radio-btn-1,.radio-btn-2, .radio-btn-3, .radio-btn-4 {
    border: 1px solid yellow;
}
.radio-btn-2 {
}
.radio-btn-3 {
}
.radio-btn-4 {
}
button {
    border: 1px solid green;
    padding: 5px;
    text-align: center;
    /* margin-right: 20px; */
}
.btn-container {
    display: flex;
    justify-content: center;
}